@use "../../styles/variables" as *;

.net-content {
  .net-stat {
    label.icon {
      padding: $spacing-2;
      color: $color-border;
      font-size: $text-3xl;
    }

    label.title {
      font-size: $text-md;
      color: $color-text;
      font-weight: 500;
    }

    label.subtitle {
      font-size: $text-sm;
      color: $color-subtext;
    }

    label.label {
      font-size: $text-md;
      color: $color-secondary;
    }
  }
}
