@use "../../styles/variables" as v;

window.shell-bar {
  border-style: solid;
  border-width: 2px;
  background-color: v.$color-base;
  padding: v.$spacing-2_5 v.$spacing-5;
  border-color: v.$color-primary;
  border-radius: v.$radius-xl;
  margin: v.$spacing-2 v.$spacing-5;
  min-width: 1800px;
}

.logo-icon {
  color: v.$color-primary;
  font-size: v.$text-2xl;
}

.username {
  color: v.$color-secondary;
  font-weight: 600;
  text-transform: uppercase;
}
