@use "../../styles/variables" as *;

window.shell-bar {
  border-style: solid;
  border-width: 2px;
  background-color: $color-base;
  padding: $spacing-2_5 $spacing-5;
  border-color: $color-primary;
  border-radius: $radius-xl;
  margin: $spacing-2 $spacing-5;
  min-width: 1800px;
}

.logo-icon {
  color: $color-primary;
  font-size: $text-2xl;
}

.username {
  font-weight: 400;
  color: $color-secondary;
  text-transform: uppercase;
}
