@use "../../styles/variables" as *;

window.shell-bar {
  transition: border-color 250ms ease;
  border: 3px solid $color-border;
  border-bottom-left-radius: $radius-xl;
  border-bottom-right-radius: $radius-xl;

  background-color: $color-base;
  padding: $spacing-2_5 $spacing-5;
  margin-left: $spacing-4;
  margin-bottom: $spacing-4;
  margin-right: $spacing-4;
  min-width: 1800px;

}

.logo-icon {
  color: $color-primary;
  font-size: $text-2xl;
}

.username {
  font-weight: 400;
  color: $color-secondary;
  text-transform: uppercase;
}
