@use "../../styles/variables" as *;

.bluetooth-dropdown {

  label.disabled {
    font-size: $text-md;
    color: $color-subtext;
  }

  .bluetooth-device {
    label {
      &.icon {
        font-size: $text-xl;
        padding: $spacing-1 $spacing-2;
        color: $color-secondary;

        &.connected {
          color: $color-primary;
        }
      }

      &.name {
        color: $color-text;
      }
    }

    label.status {
      font-size: $text-sm;
      color: $color-subtext;
    }
  }
}
