@use "../../styles/variables" as *;

.notifications-content {
  .no-notifications {
    padding: $spacing-2;
    text-align: center;

    label.label {
      font-size: $text-md;
      color: $color-subtext;
    }

    label.icon {
      font-size: $text-3xl * 2;
      color: $color-border;
    }
  }

  .icon-button.close-button {
    margin-top: $spacing-1;
    margin-left: -$spacing-8;
    min-width: $spacing-4;
    font-size: $text-lg;
  }

  .notification-card {
    border-radius: $radius-lg;
    background-color: $color-base;
    transition:
      border-color 250ms ease,
      background-color 250ms ease;

    &.clickable:hover {
      background-color: $color-crust;
    }

    .icon-content {
      padding: $spacing-4;
    }

    .card-content {
      padding-top: $spacing-2;
      padding-right: $spacing-2;
      padding-bottom: $spacing-2;

      .header {
        padding-right: $spacing-8;
      }
    }

    .no-image {
      padding-top: $spacing-2;
      padding-bottom: $spacing-2;
      padding-right: $spacing-6;
      padding-left: $spacing-4;
      color: $color-border;
      font-size: $text-2xl * 2;
    }

    image.app-icon {
      border-radius: $radius-full;
      -gtk-icon-size: $spacing-12;
    }

    label.time {
      font-size: $text-sm;
      color: $color-secondary;
    }

    label.app {
      font-size: $text-sm;
      color: $color-subtext;
    }

    label.title {
      font-size: $text-md;
      color: $color-text;
      font-weight: 500;
    }

    label.body {
      font-size: $text-sm;
      color: $color-text;
    }

    &.urgent {
      label.title {
        color: $color-secondary;
      }
    }
  }
}
