@use "../variables" as *;
@use "../mixins" as *;

.button {
  @include button();
}

.button-md {
  @include button($spacing-3, $spacing-1);

  label.icon {
    font-size: $text-xl;
  }
}

.button.primary {
  padding-top: $spacing-0_5;
  padding-bottom: $spacing-0_5;
  color: $color-crust;
  background-color: $color-primary;

  &:hover {
    background-color: rgba($color-primary, $opacity-75);
  }
}

.icon-button {
  @include button($spacing-2);
  min-width: $spacing-6;
  font-size: $text-xl;
}

.icon-button-md {
  @include button($spacing-2);
  padding-right: $spacing-2_5;
  min-width: $spacing-6;
  font-size: $text-2xl;
}

.button-sm {
  @include button($spacing-2);
  font-size: $text-sm;
}

.button.active,
.button-sm.active,
.icon-button.active {
  @include active-state();
}
