@use "../variables" as *;

popover.dropdown {

  .dropdown-contents {
    padding: $spacing-4;
    border-width: 2px;
    border-style: solid;
    border-radius: $radius-lg;
    border-color: $color-border;
    background-color: $color-base;
    color: $color-text;
    font-size: $text-md;
  }

  .dropdown-header {
    margin-bottom: $spacing-3;

    .dropdown-icon {
      color: $color-primary;
      font-size: $text-xl;
    }

    .dropdown-title {
      color: $color-primary;
      font-size: $text-lg;
    }
  }
}
