@use "../variables" as *;

popover.dropdown {
  .dropdown-contents {
    margin-top: $spacing-2;
    border-width: 4px;
    border-style: solid;
    border-radius: $radius-xl;
    border-color: $color-border;
    background-color: $color-base;
    color: $color-text;
    font-size: $text-md;

    .dropdown-body {
      padding: $spacing-4;
    }

    .dropdown-header {
      padding-left: $spacing-4;
      padding-right: $spacing-4;
      padding-top: $spacing-4;
      padding-bottom: 0;

      .dropdown-icon {
        color: $color-primary;
        font-size: $text-2xl;
      }

      .dropdown-title {
        color: $color-primary;
        font-size: $text-lg;
      }
    }
  }
}
