popover contents {
  border-style: solid;
  border-width: 2px;
  @apply bg-base text-text p-2 rounded-lg border-border text-md;
}

popover contents modelbutton {
  @apply pr-2.5 pl-2.5 pt-1 pb-1 rounded-lg;
}

popover contents modelbutton:hover {
  @apply bg-border/50;
}

popover contents modelbutton:hover label {
  @apply text-primary;
}

popover contents separator {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  @apply border-b-border mb-2 mt-2;
}

popover contents modelbutton arrow {
  @apply min-h-2 min-w-2 text-subtext;
}

popover contents modelbutton arrow.right {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

popover contents modelbutton arrow.left {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
