@use "../variables" as *;

popover contents {
  border-style: solid;
  border-width: 2px;
  border-color: $color-border;
  background-color: $color-base;
  color: $color-text;
  padding: $spacing-2;
  border-radius: $radius-lg;
  font-size: $text-md;

  modelbutton {
    padding: $spacing-1 $spacing-2_5;
    border-radius: $radius-lg;
    transition: color $transition-normal, background-color $transition-normal;


    &:hover {
      background-color: rgba($color-border, $opacity-50);

      label {
        color: $color-primary;
      }
    }

    arrow {
      min-height: $spacing-2;
      min-width: $spacing-2;
      color: $color-subtext;

      &.right {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &.left {
        -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
      }
    }
  }

  separator {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $color-border;
    margin: $spacing-2 0;
  }
}
