@use "../variables" as *;

switch {
  transition: background-color 250ms ease;
  background-color: $color-border;
  border-radius: $radius-full;

  slider {
    transition: background-color 250ms ease;
    min-width: $spacing-2;
    min-height: $spacing-2;
    border-radius: $radius-full;
    border: 1px solid $color-crust;
    background-color: $color-subtext;
  }

  &:hover {
    slider {
      background-color: $color-text;
    }
  }

  &:checked {
    background-color: $color-primary;
  }
}
