@use "../../styles/variables" as v;

menubutton.tray-item button {
  box contents {
    padding: v.$spacing-1;
    border-radius: v.$radius-lg;
  }

  &:hover box contents {
    background-color: rgba(v.$color-border, v.$opacity-50);
  }
}
