@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

box.tray {
  box.tray-items {
    menubutton.tray-button {
      @include button($spacing-2, $spacing-1);
      border-radius: $radius-full;
    }
  }

  button.icon-button {
    font-size: $text-2xl;
  }

  &.open {
    button.icon-button {
      transform: rotate(180deg);
    }
  }
}
