@use "../../styles/variables" as *;

menubutton.tray-item button {
  box contents {
    padding: $spacing-1;
    border-radius: $radius-lg;
  }

  &:hover box contents {
    background-color: rgba($color-border, $opacity-50);
  }
}
