@use "../../styles/variables" as *;

.workspaces {
  button.workspace-button {
    padding: 0 $spacing-1_5;
    border-radius: $radius;
    font-weight: 300;
    transition: color $transition-normal, background-color $transition-normal;
    color: $color-subtext;

    &:hover {
      background-color: rgba($color-border, $opacity-50);
      color: $color-text;
      font-weight: 400;
    }

    &.active-workspace {
      font-weight: 600;
      color: $color-primary;
    }
  }
}
