@use "../../styles/variables" as *;

box.calendar-box {
  label.time,
  label.date {
    font-size: $text-lg;
  }
}

calendar {
  font-size: $text-lg;

  grid label {
    border-radius: $radius-full;
    margin: $spacing-1;
  }

  header {
    margin-bottom: $spacing-4;
    margin-top: $spacing-1;

    button {
      padding: 0 $spacing-1;
    }

    stack.month {
      color: $color-secondary;
    }

    label.year {
      color: $color-secondary;
    }
  }

  grid {
    label.day-number {
      font-weight: 500;
    }

    label.day-name {
      color: $color-primary;
      font-weight: bold;
    }

    label.today {
      background-color: $color-primary;
      color: $color-crust;
      font-weight: bold;
    }

    label.other-month {
      color: $color-subtext;
      font-weight: 300;
    }
  }
}
