@use "../../styles/variables" as v;


.time-label,
.date-label {
  color: v.$color-primary;
}

calendar {
  grid label {
    border-radius: v.$radius-lg;
    margin: v.$spacing-1;
  }

  header {
    margin-bottom: v.$spacing-4;
    margin-top: v.$spacing-1;

    button {
      padding: 0 v.$spacing-1;
    }

    stack.month {
      color: v.$color-secondary;
    }

    label.year {
      color: v.$color-secondary;
    }
  }

  grid {
    label.day-number {
      font-weight: 500;
    }

    label.day-name {
      color: v.$color-primary;
      font-weight: bold;
    }

    label.today {
      background-color: v.$color-primary;
      color: v.$color-crust;
      font-weight: bold;
    }

    label.other-month {
      color: v.$color-subtext;
      font-weight: 300;
    }
  }
}
