@use "../../styles/variables" as *;

.dashboard-dropdown {
  .profile {
    .face {
      border-radius: $radius-lg;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

  }

  .system-actions {
    button.button {

      .icon {
        font-size: $text-2xl;
      }
    }
  }
}
