@use "../../styles/variables" as *;

.dashboard-dropdown {
  .profile {
    image.face {
      border-radius: $radius-lg;
      border: 2px solid $color-border;
      min-width: $spacing-12 * 5;
      min-height: $spacing-12 * 5;
    }

    image.fallback {
      -gtk-icon-size: $icon-size-3xl;
    }

  }

  .system-actions {

    .button {}
  }
}
