@use "../../styles/variables" as *;

box.tabs {
  button.tab {
    transition: color 250ms ease, background-color 250ms ease;
    border-top-left-radius: $radius-lg;
    border-top-right-radius: $radius-lg;
    padding: $spacing-1_5 $spacing-4;
    background-color: $color-crust;
    margin-bottom: -2px;
    background-color: $color-base;

    &.active {
      color: $color-primary;
      font-weight: 500;
      background-color: $color-crust;
    }
  }

  stack {
    padding: $spacing-3;
    background-color: $color-crust;
    border-top-left-radius: none;
    border-top-right-radius: $radius-lg;
    border-bottom-right-radius: $radius-lg;
    border-bottom-left-radius: $radius-lg;

    &.rounded-top-left {
      border-top-left-radius: $radius-lg;
    }
  }
}



.media-player {

  .placeholder {
    padding: $spacing-4;

    label {
      font-size: $text-sm;
      color: $color-subtext;
    }

    label.icon {
      font-size: $text-2xl;
    }
  }

  .title {
    font-weight: 500;
    font-size: $text-md;
    color: $color-text;
  }

  .artist {
    font-size: $text-sm;
    color: $color-secondary;
  }

  .album {
    font-size: $text-sm;
    color: $color-subtext;
  }
}

.sliders {
  padding: $spacing-3 $spacing-2;

  label.device-name {
    color: $color-text;
    font-size: $text-md;
    font-weight: 500;
  }

  label.icon {
    transition: color 250ms ease;
    color: $color-text;
    font-size: $text-xl;
  }



  scale.media-slider {
    slider {
      transition: background-color 250ms ease;
      min-width: $spacing-4;
      min-height: $spacing-4;
      border-radius: $radius-full;
      background-color: $color-subtext;
      margin: -$spacing-1;
      border: 1px solid $color-crust;
    }

    highlight {
      background-color: $color-primary;
    }

    trough {
      background-color: $color-border;
      border-radius: $radius-full;
    }
  }

  &:hover {
    scale.media-slider slider {
      background-color: $color-text;
    }

    label.icon {
      color: $color-secondary;
    }
  }
}
