@use "variables";
@use "mixins";

@use "components/button";
@use "components/popover";

// Widget-specific styles
@use "../widgets/bar/bar";
@use "../widgets/volume/volume";
@use "../widgets/systray/systray";
@use "../widgets/network/network";
@use "../widgets/calendar/calendar";
@use "../widgets/workspaces/workspaces";
@use "../widgets/notifications/notifications";

:root {
  font-size: 18px;
}

* {
  all: unset;
  line-height: 1;
  -gtk-icon-size: variables.$icon-size-default;
}
