@use "../../styles/variables" as *;

.stats-wrapper {

  .stats {

    label.title {
      font-size: $text-md;
      color: $color-text;
    }

    label.label {
      font-size: $text-md;
      color: $color-secondary;
    }

    label.icon {
      font-size: $text-lg;
      color: $color-text;
    }

    levelbar {
      trough {
        min-height: $spacing-2;
      }

      block {
        border-radius: $radius-full;

        &.filled {
          background-color: $color-subtext;
        }

        &.empty {
          background-color: $color-border;
        }
      }
    }
  }
}
